@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White color */
  --background-end-rgb: 255, 255, 255; /* White color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Glowing Effect of specialisations on landing page */

/* Class for applying the glow effect */
.glow-effect {
  transition: filter 0.5s ease-in-out; /* Smooth transition to full glow over 2 seconds */
}

/* Hover effect for the glow */
.glow-effect:hover {
  filter: drop-shadow(0 0 20px rgba(255, 0, 0, 1)); /* Strong red glow */
}


/* End Glowing Effect */