@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply text and background color with gradient */
body {
  @apply transition-colors duration-500 ease-in-out;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right, /* Change direction as needed */
      rgba(var(--transition-color), 0) var(--transition-direction),
      rgba(var(--background-end-rgb), 1) 100%
    ),
    rgb(var(--background-start-rgb));
  transition: background 1s ease, color 1s ease;
}

/* Utility class for text balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Glow Effect for Specializations */
.glow-effect {
  transition: filter 0.5s ease-in-out; /* Smooth transition */
}

.glow-effect:hover {
  filter: drop-shadow(0 0 20px rgba(255, 0, 0, 1)); /* Strong red glow */
}

/* Spin Effects for Navbar */
@keyframes spin-accelerate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg); /* Full rotation at halfway */
  }
  100% {
    transform: rotate(720deg); /* Double rotation at the end */
  }
}

@keyframes spin-decelerate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Slower rotation */
  }
}

.animate-spin-accelerate {
  animation: spin-accelerate 0.5s ease-in;
}

.animate-spin-decelerate {
  animation: spin-decelerate 0.5s ease-out;
}
